<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>About</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1>About</h1>

    <p>This application tracks the attendance of teachers in class.</p>

</ion-content>