<ion-header>
    <ion-navbar>
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="user">

        <ion-list>
            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input type="text" formControlName="username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>

        </ion-list>

        <button ion-button block (click)="startlogin()" [disabled]="!user.valid">Login</button>

    </form>

</ion-content>