<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Contact</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1>Contact</h1>

</ion-content>