<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1>E-Attendance Book</h1>
    <!--<ion-icon name="calendar"></ion-icon>-->
    <p>
        Welcome to Electronic Teachers Classroom Attendace Book
    </p>
    <ion-icon name="calendar"></ion-icon>


    <h2>
        Welcome {{ username }}
    </h2>
    <ul>

        <li>You can view the timetable</li>

        <ng-template [ngIf]="is_student">

            <li>You can verify teachers attendance</li>

        </ng-template>


        <ng-template [ngIf]="is_teacher">

            <li>You can verify classroom attendance</li>

        </ng-template>


        <ng-template [ngIf]="is_academic">
            <button (click)="goToWeeklySummary()">Weekly Summary</button>
        </ng-template>

    </ul>

    <button ion-button block (click)="logout()">Logout</button>

</ion-content>
