<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ siku }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="presentOptions()">
        <ion-icon name="funnel"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="timetables?.length == 0">
        <ion-card-header>
            <ion-icon name="alert"></ion-icon> Message
        </ion-card-header>
        <ion-card-content>
            No Data
        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let timetable of timetables" (click)="goToSingleSubject(timetable.id, timetable.subject)">
        <ion-card-header>
            {{ timetable.subject }}
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <strong>Time</strong>
                    </ion-col>
                    <ion-col col-6>
                        {{ timetable.starts_at | date:'H:mm' }} - {{ timetable.ends_at | date:'H:mm' }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <strong>Day</strong>
                    </ion-col>
                    <ion-col col-6>
                        {{ timetable.day }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <strong>Class</strong>
                    </ion-col>
                    <ion-col col-6>
                        {{ timetable.class }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <strong>Staff</strong>
                    </ion-col>
                    <ion-col col-6>
                        {{ timetable.staff }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <button ion-button item-right>
                      <ion-icon name="arrow-round-forward"></ion-icon>
                    </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>