<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Choose</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form">
        <ion-list>
            <ion-item>
                <ion-label>Class</ion-label>
                <ion-select formControlName="darasa">
                    <ion-option value="Form I">Form I</ion-option>
                    <ion-option value="Form II">Form II</ion-option>
                    <ion-option value="Form III">Form III</ion-option>
                    <ion-option value="Form IV">Form IV</ion-option>
                    <ion-option value="Form V">Form V</ion-option>
                    <ion-option value="Form VI">Form VI</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Day</ion-label>
                <ion-select formControlName="siku">
                    <ion-option value="Monday">Monday</ion-option>
                    <ion-option value="Tuesday">Tuesday</ion-option>
                    <ion-option value="Wednesday">Wednesday</ion-option>
                    <ion-option value="Thursday">Thursday</ion-option>
                    <ion-option value="Friday">Friday</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <button ion-button color="secondary" (click)="filter()" block [disabled]="!form.valid">Filter</button>

    </form>

</ion-content>