<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Weekly Summary</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            This Week
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row *ngFor="let attendance of attendances">
                    <ion-col col-6>
                        {{ attendance.day }}
                    </ion-col>
                    <ion-col col-6>
                        <ion-badge item-right>
                            {{ attendance.attendance_count }}
                        </ion-badge>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>