<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ subject }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <ng-template [ngIf]="is_student">


        <form [formGroup]="form">

            <ion-card>

                <ion-card-header>
                    {{ subject }}
                </ion-card-header>

                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                Verified?
                            </ion-col>
                            <ion-col col-6>
                                <ion-checkbox formControlName="verified" value="1" color="dark" checked="false"></ion-checkbox>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                                <ion-label fixed>Comments</ion-label>
                                <ion-textarea formControlName="comment" placeholder="Well! I think..." rows="5"></ion-textarea>
                                <button (click)="submit(id)" ion-button [disabled]="!form.valid">Submit</button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>

            </ion-card>

        </form>


    </ng-template>


    <ng-template [ngIf]="is_teacher">

        <form [formGroup]="form">

            <ion-card>

                <ion-card-header>
                    {{ subject }}
                </ion-card-header>

                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                Attended?
                            </ion-col>
                            <ion-col col-6>
                                <ion-checkbox formControlName="attended" value="1" color="dark" checked="false"></ion-checkbox>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                                <ion-label fixed>Comments</ion-label>
                                <ion-textarea formControlName="comment" placeholder="Well! I think..." rows="5"></ion-textarea>
                                <button (click)="submit(id)" ion-button [disabled]="!form.valid">Submit</button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>

            </ion-card>

        </form>

    </ng-template>

    <ng-template [ngIf]="is_academic">

        <form [formGroup]="form">

            <ion-card>

                <ion-card-header>
                    {{ subject }}
                </ion-card-header>

                <ion-card-content>

                </ion-card-content>

            </ion-card>

        </form>

    </ng-template>


</ion-content>